body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0f7f9;
  font-family: Arial, sans-serif;
}

.calculator {
  display: grid;
  grid-template-rows: auto;
  width: 270px;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

.display {
  background-color: #b0b0b0;
  color: #000;
  font-size: 2.5em;
  text-align: right;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zero {
  grid-column: span 2;
}

.button {
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px;
}

.clear, .toggle-sign, .percent {
  background-color: #4d89ff;
  color: #fff;
}

.operator {
  background-color: #ff8c32;
  color: #fff;
}

.number {
  background-color: #004a52;
  color: #fff;
}

.decimal, .equals {
  background-color: #ff8c32;
  color: #fff;
}
